.PokedexList {
    background: beige;
    border: 2px double black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 16px;
    padding: 15px;
    overflow-y: scroll;
}

.no-pokemon-found {
    background: beige;
    padding: 10px;
    border: 2px double black;
    border-radius: 10px;
    text-align: center;
    i {
        color: grey;
        font-size: 5em;
        position: relative;
        top: 40%;
    }
    &__text {
        position: relative;
        top: 45%;
    }
}