.PokemonList {
    background: beige;
    border: 2px double black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 102px);
    grid-template-rows: max-content;
    grid-gap: 16px;
    padding: 15px;
    width: 692px;
    height: 55vh;
    overflow-y: scroll;
}